<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.css">
    <title>COMP0034 Intro to JavaScript - Event handling</title>
    <script src="js/events_exercise.js" defer></script>
</head>
<body>
<div class="container">
    <br>
    <!-- Return false prevents the page refresh after processForm() function finishes -->
    <form id="loginForm" onsubmit="processForm(); return false">
        <input id="email" type="email" placeholder="Enter email address" required>
        <label for="pwd">Password: </label>
        <input id="pwd" type="password" placeholder="Enter password">
        <input type="submit">
    </form>
</div>
</body>
</html>