{# Inherit a parent template called base.html #}
{% extends "base.html" %}
{# Add the title for this page #}
{% block title %}Home{% endblock %}
{# Add the content for this page #}
{% block content %}
    <h1>Welcome {{ name }}</h1>
    <div class="row">
        <div class="col">
            <h4>Lorem</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ultrices tortor non ligula aliquet sagittis.
                Duis eleifend iaculis dignissim. Aenean rutrum quam eu blandit sagittis. Curabitur ullamcorper ornare
                ultrices. Donec aliquet tincidunt gravida. Vestibulum volutpat ultrices magna quis pharetra. Curabitur
                feugiat erat id tortor pulvinar, vel placerat libero imperdiet. Pellentesque rhoncus molestie tortor
                vitae dignissim. Mauris diam velit, ornare et lectus ac, euismod mattis enim. Etiam vel turpis ac nunc
                tincidunt molestie. Aliquam pharetra ipsum ut facilisis sollicitudin. Nullam sollicitudin sagittis
                lacus, quis ornare sem vulputate eget. Cras volutpat lectus in condimentum bibendum.</p>
            </p>Pellentesque vel aliquam turpis, quis sodales magna. Nulla et varius dui. Nunc varius lobortis libero
            sit amet imperdiet. Quisque a consectetur felis, eu tincidunt lorem. Nullam commodo tellus a nunc venenatis,
            sit amet dictum odio tempor. Curabitur a ex quis lacus pharetra porttitor quis nec mauris. Fusce scelerisque
            ipsum id nulla iaculis, eget fermentum justo commodo. Ut magna nibh, egestas commodo felis ac, posuere
            aliquam ante. Aenean ac odio sit amet enim ultricies fermentum.</p>
        </div>
        <div class="col">
            <h4>Ipsum</h4>
            <p>Maecenas ultricies tempor neque, et semper ex elementum congue. Pellentesque ultrices erat lorem, at
                dapibus mi viverra eget. Phasellus pharetra consequat purus, ut semper orci. Sed ullamcorper erat vitae
                lacinia tempus. Ut est neque, sodales vel pharetra id, hendrerit sed leo. Nullam faucibus in sem sit
                amet aliquam. Praesent rhoncus bibendum orci, eget placerat magna rhoncus ac. Curabitur varius metus
                erat. Morbi vitae tristique turpis. Etiam nec posuere dui, sit amet tristique ipsum. Sed non finibus
                metus. Donec eget cursus dui, ac viverra mi. Duis auctor purus mi, in pellentesque mi porta at. In nibh
                felis, elementum non lobortis non, porttitor a dolor.</p>
            <p>Ut lacinia est eu mi varius, id hendrerit lectus placerat. In placerat gravida velit, vel luctus tortor
                blandit ac. Morbi malesuada et dui nec blandit. Aliquam et leo ac felis suscipit feugiat. Quisque felis
                velit, suscipit a euismod tincidunt, imperdiet quis justo. Curabitur mattis velit ut imperdiet
                facilisis. Vivamus quis erat diam.</p>
        </div>
    </div>
{% endblock %}