{% extends 'base.html' %}
{% block title %}News{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.js') }}"></script>
    <script src="{{ url_for('static',filename='js/chart.js') }}"></script>
    <script src="{{ url_for('static', filename='js/hn.js') }}"></script>
{% endblock %}
{% block content %}
    <h3>Top 10 Hacker News Stories</h3>
    </br>
    <ol>
        <div id="top_stories"></div>
    </ol>
    <button id="display-chart" type="button" class="btn btn-primary">Display chart</button>
    <canvas id="bar-chart" width="600" height="200"></canvas>
{% endblock %}